.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    z-index: 1200;
}

.modalBody {
    display: flex;
    justify-content: center;

}


.testModalBody{
    background-color: white;
    width: 300px;
    height: 400px;
}