.headDashWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    margin-bottom: 26px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 10px;
  }
}

.dashboardName {
  padding: 14px 0 0 20px;
  margin-bottom: 39px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--mainTextColor);

  @media (min-width: 768px) {
    padding: 26px 0 0 32px;
    margin-bottom: 26px;
  }

  @media screen and (min-width: 1440px) {
    padding: 10px 0 0 24px;
    margin-bottom: 10px;
  }
}
