.welcomeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
  background: var(--welcomBackground);
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  @media (min-width: 375px) {
    width: 335px;
  }

  @media (min-width: 768px) {
    width: 473px;
  }
}

.welcomeIcon {
  width: 124px;
  height: 124px;
  margin-bottom: 14px;

  @media (min-width: 768px) {
    width: 162px;
    height: 162px;
    margin-bottom: 24px;
  }
}

.welcomeLogo {
  display: flex;
  align-items: center;
  height: 42px;
  gap: 14px;

  @media (min-width: 768px) {
    height: 60px;
  }
}

.welcomeLogoIcon {
  width: 40px;
  height: 40px;

  @media (min-width: 768px) {
    width: 48px;
    height: 48px;
  }
}

.welcomeLogoTitle {
  color: var(--reversedTextColor);
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1.12px;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 40px;
    letter-spacing: -1.6px;
  }
}

.welcomeText {
  margin-top: 24px;
  margin-bottom: 48px;
  text-align: center;
  color: var(--reversedTextColor);
  font-size: 14px;
  font-family: 'Poppins';
  line-height: 1.28;
  letter-spacing: -0.28px;

  @media (min-width: 375px) {
    width: 335px;
  }

  @media (min-width: 768px) {
    width: 473px;
    margin-top: 36px;
    margin-bottom: 36px;
  }
}

.welcomeRegisterBtn {
  padding: 14px 0;
  margin-bottom: 14px;
  text-decoration: none;
  color: var(--mainTextColor);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  min-width: 300px;
  border-radius: 8px;
  background: var(--secondaryBgColor);

  transition: all 250ms linear;

  &:hover {
    background-color: var(--accentColorHover);
    color: var(--reversedTextColor);
  }

  @media (min-width: 375px) {
    width: 335px;
  }

  @media (min-width: 768px) {
    width: 473px;
  }
}

.welcomeLoginBtn {
  padding: 14px 0;
  margin-bottom: 14px;
  text-decoration: none;
  color: var(--reversedTextColor);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  min-width: 300px;
  border-radius: 8px;

  transition: all 250ms linear;

  &:hover {
    color: var(--mainTextColor);
    background-color: var(--accentColorHover);
  }

  @media (min-width: 375px) {
    width: 335px;
  }

  @media (min-width: 768px) {
    width: 473px;
  }
}
