.welcomeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 25%,
    #bedbb0 92.19%
  );
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  @media (min-width: 375px) {
    width: 335px;
  }

  @media (min-width: 768px) {
    width: 473px;
  }
}

.welcomeIcon {
  width: 124px;
  height: 124px;
  margin-bottom: 14px;

  @media (min-width: 768px) {
    width: 162px;
    height: 162px;
    margin-bottom: 24px;
  }
}

.welcomeLogo {
  display: flex;
  align-items: center;
  height: 42px;
  gap: 14px;

  @media (min-width: 768px) {
    height: 60px;
    margin-bottom: 36px;
  }
}

.welcomeLogoIcon {
  width: 40px;
  height: 40px;
  stroke: #ffffff;

  @media (min-width: 768px) {
    width: 48px;
    height: 48px;
  }
}

.welcomeLogoTitle {
  color: #161616;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1.12px;

  @media (min-width: 768px) {
    font-size: 40px;
    letter-spacing: -1.6px;
  }
}

.welcomeText {
  margin-top: 24px;
  margin-bottom: 48px;
  text-align: center;
  color: #161616;
  font-size: 14px;
  font-family: 'Poppins';
  line-height: 1.28;
  letter-spacing: -0.28px;
  min-width: 320px;

  @media (min-width: 375px) {
    width: 335px;
  }

  @media (min-width: 768px) {
    width: 473px;
    margin-bottom: 36px;
  }
}

.welcomeRegisterBtn {
  padding: 14px 0;
  margin-bottom: 14px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  min-width: 320px;
  border-radius: 8px;
  background: #161616;

  transition: all 250ms linear;

  &:hover {
    opacity: 0.8;
  }

  @media (min-width: 375px) {
    width: 335px;
  }

  @media (min-width: 768px) {
    width: 473px;
  }
}

.welcomeLoginBtn {
  padding: 14px 0;
  margin-bottom: 14px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  min-width: 320px;
  border-radius: 8px;
  background: #161616;

  transition: all 250ms linear;

  &:hover {
    /* color: #9dc888; */
    background-color: #9dc888;
    /* opacity: 0.8; */
  }

  @media (min-width: 375px) {
    width: 335px;
  }

  @media (min-width: 768px) {
    width: 473px;
  }
}

.welcomeTestBtn {
  padding: 14px 0;
  margin-bottom: 14px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  min-width: 320px;
  border-radius: 8px;
  background: #161616;

  transition: all 250ms linear;

  &:hover {
    background-color: #9dc888;
    color: #161616;
  }

  @media (min-width: 375px) {
    width: 335px;
  }

  @media (min-width: 768px) {
    width: 473px;
  }
}

.welcomeTest {
  padding: 14px 0;
  margin-bottom: 14px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  min-width: 320px;
  border-radius: 8px;
  background: #161616;

  transition: all 250ms linear;

  &:hover {
    color: #9dc888;
  }

  @media (min-width: 375px) {
    width: 335px;
  }

  @media (min-width: 768px) {
    width: 473px;
  }
}
