.cardHeight{
    height: 154px;
    width: 335px;
}

/* Фоновий колір потрібно буде передати через функцію в залежності від того які дані прийдуть з юзера, за допомогою доп класа */
.cardWrapper{
    border-radius: 8px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    padding-left: 4px;
    background-color: blue;
    @media (min-width: 375px) {
        width: 334px;
      }

    }

.cardContainer{
    height: inherit;
    background-color: var(--darkBgColor);
    color: var(--secondaryTextColor);
    padding: 14px 24px ;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    margin-left: 1px;
}
.cardTitle{
    color:var(--mainTextColor);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.28px;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.cardDiscription{
    display: -webkit-box;
   
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow:hidden;
    text-overflow: ellipsis;

    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.24px;
    margin-bottom: 14px;
    line-height: 16px;
    transition: all 250ms linear;
    &:hover{
        -webkit-line-clamp:initial;
    overflow:auto;
    text-overflow:clip;
    };
   

}

.cardFooterWrapper::before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    border-bottom: 1px solid var(--sidebarLightColorEl);
    margin-bottom: 14px;
}
.cardFooter{
    display: flex;
 
}

.cardFooterTitle{
    font-size: 8px;
    font-weight: 400;
    letter-spacing: -0.16px;
    margin-bottom: 4px;
}
.cardPriorityInfo{
display: flex;
gap: 4px;
margin-right: 14px;
}

/* Фон потрібно буде передавати через функцію в залежності від даних, що прийдуть з юзера за допомогою доп класу*/

.cardPriorityCircle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.cardPriorityName, .cardDeadlineDate{
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.2px;
    color: var(--mainTextColor);
}
.cardIconsList{
    display: flex;
    margin-left: auto;
    align-items: flex-end;
    
    
}

.cardIconItem:not(:last-child){
    margin-right: 8px;
    
   
}

.cardIconItem:first-child{
    margin-right: 12px;
    stroke: var(--accentColor);
}
.cardIconItem:not(:first-child){
    stroke: var(--secondaryTextColor);
    &:hover{
        stroke: var(--accentColor); 
    }
}
.cardSvg{
    width: 16px;
    height: 15px;
    fill: var(--darkBgColor);
    
}


/* Доп клас для приорити */
.cardPriorityWithout{
    background-color: var(--priorityColorWithout);
}

.cardPriorityLow{
    background-color: var(--priorityColorLow);
}

.cardPriorityMedium{
    background-color: var(--priorityColorMedium);
}

.cardPriorityHigh{
    background-color: var(--accentColor);
}
