.cardHeight{
    width: 335px;
    cursor: pointer;
    transition: 200ms linear;
    cursor: grabbing;
}

.cardHeight:hover {
    transform: scale(0.98);
}

.cardHeight:hover .cardContainer{
    background-color: var(--secondaryBgColor);
}

/* Фоновий колір потрібно буде передати через функцію в залежності від того які дані прийдуть з юзера, за допомогою доп класа */
.cardWrapper{
    border-radius: 8px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    padding-left: 4px;
    @media (min-width: 375px) {
        width: 334px;
      }

    }

.cardContainer{
    height: inherit;
    background-color: var(--darkBgColor);
    color: var(--secondaryTextColor);
    padding: 14px 24px ;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    margin-left: 1px;
}
.cardTitle{
    color:var(--mainTextColor);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.28px;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.cardDiscription{
    word-wrap: break-word;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.24px;
    margin-bottom: 14px;
    line-height: 16px;
    transition: all 250ms linear;

}

.cardFooterWrapper::before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    border-bottom: 1px solid var(--sidebarLightColorEl);
    margin-bottom: 14px;
}
.cardFooter{
    display: flex;
 
}

.cardFooterTitle{
    font-size: 8px;
    font-weight: 400;
    letter-spacing: -0.16px;
    margin-bottom: 4px;
}
.cardPriorityInfo{
    display: flex;
    gap: 4px;
    margin-right: 14px;
    }


.cardPriorityCircle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.cardPriorityName, .cardDeadlineDate{
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.2px;
    color: var(--mainTextColor);
}
.cardIconsList{
    display: flex;
    margin-left: auto;
    align-items: flex-end;
    gap: 8px;
       
}



.cardIconItemBell .cardSvg{
    stroke: var(--accentColor);
    filter: drop-shadow(0 0 5px var(--accentColor));
    fill: transparent;
}
.cardIconButton{
    position: relative;
    background-color: inherit;
    width: 16px;
    height: 15px;
    cursor: pointer;
}
.cardIconItem{
    stroke: var(--secondaryTextColor);
}

.cardIconItem:hover .cardSvg{
    stroke: var(--accentColor); 
    transform: scale(1.1);
}

.cardSvg{
    width: 16px;
    height: 15px;
    fill: transparent;
    
}


.popupMenuList{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 135px;
    padding: 15px;
    z-index: 20;
    overflow-y: auto;
    max-height: 90px;

    left: -55px;
    top: -100px;

    background-color: var(--modalBgColor);
    border-radius: 8px;
    border: 0.1px solid var(--inputsBorderColor);
    transition: 200ms linear;
}

.popupMenuList::-webkit-scrollbar{
    width: 3px;
    border-radius: 12px;
}

.popupMenuList::-webkit-scrollbar-thumb{
    border-radius: 12px;
    background-color: var(--accentColor);
}

.popupHidden{
    transform: scale(0.1);
    height: 0;
    top: 0;
    overflow: hidden;
    opacity: 0;
}

.popupMenuItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    color: var(--secondaryTextColor);
    cursor: pointer;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
    stroke: var(--secondaryTextColor);

}

.popupMenuDef{
    color: var(--secondaryTextColor);
    font-size: 12px;
}

.popupMenuItem:hover{
    color: var(--accentColor);
    stroke: var(--accentColor);
}

.selectCardSvg{
    width: 16px;
    height: 16px;
    stroke: inherit;
    fill: transparent;
}


