:global .react-datepicker {
  border: 1px solid var();
  border-radius: 8px;
  background-color: var(--calendarBgColor);
  margin-left: 100px;
}

.react-datepicker__input-container input {
  font-family: 'Poppins-Medium';
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var();
  background-color: var();
  border: none;
}
:global .react-datepicker__month-container {
  /* width: 233px;
  min-height: 254px; */
  padding-left: 18px;
  padding-right: 18px;
}
:global .react-datepicker__header {
  padding-bottom: 0;
  padding-top: 0;

  background-color: var();
  border: none;
}
.react-datepicker__current-month {
  margin: 0 auto;
  width: 197px;
  padding-bottom: 14px;
  font-family: 'Poppins-Medium';
  font-size: 16px;
  letter-spacing: -0.02em;
  border-bottom: 1px solid;
  border-color: var();
  color: var();
}
.react-datepicker__navigation {
  top: 18px;
}

.react-datepicker__day-name {
  width: 23px;
  line-height: 23px;
  height: 23px;
  font-family: 'Poppins-Medium';
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var();
  
}

.react-datepicker__day-name,
.react-datepicker__day {
  margin: 2px;
  font-family: 'Poppins-Medium';
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--mainTextColor);
  background-color: var(--calendarBgColor);
}

.react-datepicker__day--selected {
  background-color: var(--accentColor);
  color: var(--calendarBgColor);
}

.react-datepicker__day {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins-Regular';
  font-size: 14px;
  width: 23px;
  height: 23px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: var();
}
.react-datepicker__day:hover,
.react-datepicker__day--selected {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var();
  color: var();
}
:global .react-datepicker__day--disabled {
  /* color: var(); */
  color: var(--inputsBorderColor);
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  margin: 2px;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: var();
  color: var();
  transition: background-color var();
}
:global .react-datepicker__week {
  display: flex;
  gap: 1px;
}
.react-datepicker__day--outside-month {
  visibility: hidden;
}
.react-datepicker__day--disabled {
  visibility: visible;
}

:global .react-datepicker__day-names {
  
  background-color: var(--calendarBgColor);
  border-top: 1px solid #FFFFFF33;
  
  
}

.calendar {
  background-color: var(--calendarBgColor);
  border-color: var(--inputsBorderColor);
  color: var(--mainTextColor);
}

.day {
  color: var(--mainTextColor);
  border-radius: 50%;
}

.day:hover,
.day:active {
  color: var(--calendarBgColor);
  background-color: var(--accentColor);
  border-radius: 50%;
}

.header {
  /* position: absolute; */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--calendarBgColor);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 14px;
}

.header button {
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  color: azure;
}

.header button:focus {
  outline: none;
}

.header span {
  font-size: 16px;
  margin: 0 10px;
}

.inputCalendar {
  color: #bedbb0;
  background-color: var(--modalBgColor);
  border: none;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  cursor: pointer;
}

.weekDay {
    background-color: var(--calendarBgColor);
  color: var(--mainTextColor);
}


.iconChevronDown {
  margin-left: 4px;  
  stroke: var(--boardAddIconBg);  
}

.buttonWithIcon {
  display: flex;
  align-items: center; 
}


.disabled {
  pointer-events: none; 
  color: #FFFFFF33;
  
}