.boardWrap {
  margin: 0 20px;
  display: flex;
  gap: 32px;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: calc(100vh - 142px);

  @media (max-width: 1440px) {
    height: calc(100vh - 172px);
  }

  @media (max-width: 762px) {
    height: calc(100vh - 162px);
  }
}

.boardWrap::-webkit-scrollbar {
  height: 12px;
  border-radius: 12px;
  background-color: var(--darkBgColor);
}

.boardWrap::-webkit-scrollbar-thumb {
  border-radius: 12px;
  width: 12px;
  border: none;
  background-color: #404040;
}

.columnsList {
  display: flex;
  gap: 18px;
  flex-wrap: nowrap;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    margin-bottom: 52px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 16px;
  }
}

.addColumnBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-width: 320px;
  height: 56px;
  padding: 0;

  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  transition: all 450ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--mainTextColor);
  background-color: var(--secondaryBgColor);
  cursor: pointer;

  @media screen and (min-width: 375px) {
    width: 335px;
  }
  @media screen and (min-width: 767px) {
    width: 334px;
  }

  &:hover {
    background-color: var(--accentColorHover);
    color: var(--reversedTextColor);
  }
}

.addColumnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.addColumnIcon {
  width: 28px;
  height: 28px;
  padding: 4px;
  border-radius: 6px;
  background-color: var(--mainTextColor);
  stroke: var(--reversedTextColor);
}

.addColumnTitle {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
}

.columnList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  max-height: 60vh;
  padding-right: 4px;
  padding-top: 4px;
  margin-bottom: 14px;

  @media (min-width: 768px) {
    padding-right: 8px;
  }
}

.columnList::-webkit-scrollbar {
  width: 8px;
  background-color: var(--darkBgColor);
  border-radius: 8px;
}

.columnList::-webkit-scrollbar-thumb {
  border-radius: 8px;
  width: 4px;
  border: none;
  background-color: #404040;
}

