:root {
  --welcomBackground: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 25%,
    #bedbb0 92.19%
  );
  
  /* основні бекграунди (лайт це той що під дошкою) */
  --lightBgColor: rgb(31,31,31);
  --secondaryBgColor: #161616;
  --darkBgColor: #121212;
  --greyBgElements: rgb(49,49,49);
  --sidebarBgColor: #121212;

   /* кольори для тексту */
  --mainTextColor: #ffffff;
  --secondaryTextColor: rgba(255, 255, 255, 0.5);
  --reversedTextColor: #161616;

  --accentColor: #bedbb0;
  --accentColorHover: #9DC888;

   /* кольори в формах */
  --inputsBgColor: #1f1f1f;
  --inputsPlaceholderColor: rgb(115,115,115);
  --inputsBorderColor: rgb(99,109,93);
  --authInactiveButtonColor: rgb(91,91,91);

   /*кольори значків пріоритетів */
  --priorityColorWithout: rgba(22, 22, 22, 0.3);
  --priorityColorLow: #8fa1d0;
  --priorityColorMedium: #e09cb5;

  /* бекграунд для попапів и модалок  */
  --modalBgColor: rgb(21,21,21);


  --boardActiveBackground: rgb(23,23,23);
  --filterColor: rgba(255,255,255,0.8);
  --addIconButtonColor: #161616;

  /* кольори для календаря */
  --calendarBgColor: rgb(31,31,31);
  --calendarInactiveDatesColor: rgb(76,76,76);

}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
}

input {
    outline: none;
}

img {
    display: block;
    /*width: 100%;
    height: auto;*/
}

ul li {
    list-style: none;
}