:root {
  --welcomBackground: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 25%,
    #bedbb0 92.19%
  );
  
  /* основні бекграунди (лайт це той що під дошкою) */
  --lightBgColor: rgb(31,31,31);
  --secondaryBgColor: #161616;
  --darkBgColor: #121212;
  --greyBgElements: rgb(49,49,49);
  --sidebarBgColor: #121212;

   /* кольори для тексту */
  --mainTextColor: #ffffff;
  --secondaryTextColor: rgba(255, 255, 255, 0.5);
  --reversedTextColor: #161616;

  --accentColor: #bedbb0;
  --accentColorHover: #9DC888;

   /* кольори в формах */
  --inputsBgColor: #1f1f1f;
  --inputsPlaceholderColor: rgb(115,115,115);
  --inputsBorderColor: rgb(99,109,93);
  --authInactiveButtonColor: rgb(91,91,91);

   /*кольори значків пріоритетів */
  --priorityColorWithout: rgba(22, 22, 22, 0.3);
  --priorityColorLow: #8fa1d0;
  --priorityColorMedium: #e09cb5;

  /* бекграунд для попапів и модалок  */
  --modalBgColor: rgb(21,21,21);


  --boardActiveBackground: rgb(23,23,23);
  --filterColor: rgba(255,255,255,0.8);
  --addIconButtonColor: #161616;

  /* кольори для календаря */
  --calendarBgColor: rgb(31,31,31);
  --calendarInactiveDatesColor: rgb(76,76,76);

}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--blackColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--blackColor);
}

.App-link {
  color: var(--greenColor);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
