.sideBar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 225px;
  height: 100vh;
  background-color: var(--sidebarBgColor);
  transform: translateX(-100%);
  transition: 500ms transform;
}

.sidebarBackdrop {
  position: absolute;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.sideBarOpened {
  transform: none;
}


@media screen and (min-width: 768px) {
  .sideBar {
    width: 260px;
  }
}

@media screen and (min-width: 1440px) {
  .sideBar {
    width: 275px;
    position: static;
    transform: none;
  }
}

.titleBox {
  padding: 14px 14px 30px 14px;
}

@media screen and (min-width: 768px) {
  .titleBox {
    padding: 20px 22px 20px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .titleBox {
    padding: 24px 24px 40px 24px;
  }
}

.iconBox {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 0.25s ease;
  cursor: pointer;
}

.logoIconContainer {
  border-radius: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--logoBgColor);
  padding-left: 1px;
}

.iconLogo {
  stroke: var(--logoIconColor);
  fill: var(--logoIconColor)
}

.title {
  color: var(--sidebarMainTextColor);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
  margin: 0;
}

.bordBox {
  margin-top: 70px;
}

@media screen and (min-width: 768px) {
  .bordBox {
    margin-top: 60px;
  }
}

.bordTitle {
  color: var(--sidebarLightColor);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding: 14px 0 14px;
  border-top: 1px solid var(--sidebarLightColorEl);
  border-bottom: 1px solid var(--sidebarLightColorEl);
}

.buttonText {
  width: 76px;
  display: block;
  color: var(--sidebarMainTextColor);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.28px;
}

.buttonCreate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: none;
  border-radius: 6px;
  background-color: var(--boardAddIconBg);
  transition: background-color 0.3s ease;

  cursor: pointer;
}

.buttonCreate:hover {
  background-color: var(--accentColorHover);
}

.iconCreate {
  stroke: var(--addIconPlusColor);

}


.bordList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--mainTextColor);
  margin: 0;
  margin-bottom: 20px;
  width: 100%;

  overflow-x: hidden;
  overflow-y: auto;
  direction: rtl;
}

.bordList::-webkit-scrollbar {
  width: 5px;
  background-color: var(--sidebarBgColor);
  border-radius: 12px;
}

.bordList::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: var(--accentColor);
  border-radius: 12px;
}

.helpBox {
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.helpTextBox {
  box-sizing: border-box;
  align-self: center;
  padding: 14px 14px 18px 14px;
  width: 197px;
  height: 238px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--helpBgColor);
}

@media screen and (min-width: 768px) {
  .helpTextBox {
    width: 212px;
    height: 272px;
    flex-shrink: 0;
    padding: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .helpTextBox {
    width: 212px;
    height: 272px;
    flex-shrink: 0;
    padding: 20px;
  }
}

.helpText {
  margin: 0;
  margin-top: 14px;
  flex-shrink: 0;
  color: var(--sidebarMainTextColor);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.24px;
}

@media screen and (min-width: 768px) {
  .helpText {
    width: 172px;
    margin-bottom: 20px;
    height: 102px;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.28px;
  }
}

.helpTextLink {
  cursor: pointer;
  color: var(--accentColor);
}

.buttonHelp {
  color: var(--sidebarMainTextColor);
  padding: 0;
  margin-top: 10px;
  gap: 8px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 200ms linear;
}

.buttonHelp:hover {
  color: var(--accentColor);
  stroke: var(--accentColor);
}

.buttonHelp:hover .iconHelp {
  stroke: var(--accentColor);
}

.iconHelp {
  stroke: var(--helpIconColor);
  fill: var(--helpBgColor);
  transition: 200ms linear;
}

.helpButtonText {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;


}

.buttonLogOut {
  margin: 24px;
  margin-bottom: 24px;
  gap: 14px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: 200ms linear;
}

.buttonLogOut:hover,
.buttonLogOut:active {
  background-color: var(--accentColorHover);
  border-radius: 8px;

  .iconLogOut {
    stroke: #ffffff
  }

  .logOutButtonText {
    color: #ffffff;
  }

}

.iconLogOut {
  stroke: var(--logoutIconColor);
  fill: transparent;
}

.logOutButtonText {
  color: var(--sidebarMainTextColor);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
}

@media screen and (min-width: 1024px) {
  .logOutButtonText {
    font-size: 16px;
  }
}