.formWrap {
  width: 400px;
  height: 440px;
  background-color: var(--modalBgColor);
  border-radius: 8px;
  border: 0.1px solid var(--inputsBorderColor);
  padding: 30px 24px;
  min-width: 320px;
}

.formTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 0.67;
  letter-spacing: -2%;
  color: var(--mainTextColor);
  text-align: left;
  margin-bottom: 24px;
}

@media (min-width: 375px) {
  .formWrap {
    width: 350px;
    height: 453px;
  }
}

@media (min-width: 768px) {
  .formWrap {
    width: 400px;
    height: 440px;
  }
}

.avatar {
  display: flex;
  justify-content: center;
}

.userAvaWrapper {
  display: flex;

  justify-content: center;
  position: relative;
  width: 68px;
  height: 79px;

  /* margin-top: 14px; */
  cursor: pointer;
}

.userAvaWrapper:hover .userImg {
  border: 2px solid var(--inputsBorderColor);
}

.userAvaWrapper:hover .iconBtnPlus {
  background-color: var(--accentColorHover);
}

.userImg {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  height: 68px;
  border-radius: 5px;
  background-color: #fff;
}

.iconBtnPlus {
  position: absolute;
  bottom: 0;
  background-color: var(--boardAddIconBg);
  width: 24px;
  height: 24px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconPlus {
  stroke: #030303;
}

.fieldWrapper {
  display: flex;
  position: relative;
  border: 1px solid var(--inputsBorderColor);
  border-radius: 8px;
  padding: 0;
  width: 287px;
  height: 49px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 14px;
  background-color: var(--inputsBgColor);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 0.67;
  letter-spacing: -0.02em;
  color: var(--mainTextColor);
}

.fieldWrapper:hover {
  border: 1px solid var(--imputBoarderHovetColor);
  opacity: 1;
}
.fieldWrapper:active {
  opacity: 1;
}

@media (min-width: 768px) {
  .fieldWrapper {
    width: 352px;
  }
}

.field {
  width: 100%;
  height: 100%;

  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  background-color: var(--inputsBgColor) !important;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 0.67;
  letter-spacing: -0.02em;
  color: var(--mainTextColor);

  padding: 0 10px;
}

.field:hover {
  background: var(--inputsBgColor);
  opacity: 1;
}

.field:active {
  background: var(--inputsBgColor);
  opacity: 1;
}

@media (min-width: 768px) {
  .field {
    width: 352px;
  }
}

.btnSend {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: auto;
  margin-left: auto;

  border: none;
  border-radius: 8px;
  text-decoration: none;
  width: 287px;
  height: 49px;
  background-color: var(--accentColor);
  margin-top: 24px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--secondaryBgColor);
  cursor: pointer;
}

@media (min-width: 768px) {
  .btnSend {
    width: 352px;
    height: 49px;
  }
}

.btnSend:hover {
  background: var(--accentColorHover);
  position: relative;
  cursor: pointer;
}

.btnSend:active {
  background: #9dc888;
  box-shadow: none;
}

.iconBtn {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 18px;
  background-color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.iconEye {
  stroke-width: 1.3px;
  stroke: var(--inputsPlaceholderColor);
  fill: var(--inputsBgColor);
}

.iconEye:hover {
  stroke: var(--accentColor);
}

.errorMessage {
  width: 100%;
  height: 16px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  display: inline;
  color: var(--mainTextColor);
  float: left;
  font-weight: 100;
  font-size: 10px;
  line-height: 14px;
  position: absolute;
  bottom: -15px;
  right: 0;
  padding: 1px 8px 1px;
  animation: slideIn 0.3s ease forwards;
}

/* .errorMessage {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
  height: 10px;
  font-size: 12px;
  color: #9dc888;
  padding-left: 12px;
  font-size: 12px;
  font-weight: 400;
} */

.userIconBtn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 70px;
  height: 70px;
  background-color: var(--lightBgColor);
  border-radius: 5px;
}

.userIconBtn:hover {
  background-color: var(--darkBgColor);
}

.userIcon {
  width: 68px;
  height: 68px;
  stroke: var(--lightBgColor);
  fill: var(--darkBgColor);
}

.userIcon:hover {
  stroke: var(--darkBgColor);
  fill: var(--lightBgColor);
}
