.formWrap {
  /* width: 350px;
  height: 453px; */
  background-color: var(--modalBgColor);
  border-radius: 8px;
  border: 0.1px solid var(--inputsBorderColor);
  padding: 30px 24px;
  min-width: 320px;
}

.formTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 0.67;
  letter-spacing: -2%;
  color: var(--mainTextColor);
  text-align: left;
  margin-bottom: 24px;
}

@media (min-width: 375px) {
  .formWrap {
    width: 350px;
    height: 453px;
  }
}

@media (min-width: 768px) {
  .formWrap {
    width: 400px;
    height: 440px;
  }
}

.userAvaWrapper {
  display: flex;

  justify-content: center;
  position: relative;
  width: 68px;
  height: 79px;

  margin-top: 14px;
}
/* .imgWrapper{
  
} */

.userImg {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  height: 68px;
  border-radius: 5px;
  background-color: #fff;
}

.iconBtnPlus {
  position: absolute;
  bottom: 0;
  background-color: var(--accentColor);
  width: 24px;
  height: 24px;
  border-radius: 5px;
  cursor: pointer;
}

.iconPlus {
  stroke: #030303;
}

.fieldWrapper {
  display: flex;
  position: relative;
  border: 1px solid var(--boardAddIconBg);
  border-radius: 8px;
  padding: 0;
  width: 287px;
  height: 49px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 14px;
  background-color: #151515;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 0.67;
  letter-spacing: -0.02em;
  color: var(--mainTextColor);
}

.fieldWrapper:hover {
  opacity: 1;
}
.fieldWrapper:active {
  opacity: 1;
}

@media (min-width: 768px) {
  .fieldWrapper {
    width: 352px;
  }
}

.field {
  width: 100%;
  height: 100%;

  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  background-color: #151515;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 0.67;
  letter-spacing: -0.02em;
  color: var(--mainTextColor);
}

.field:hover {
  background: #1f1f1f;
  opacity: 1;
}

.field:active {
  background: #1f1f1f;
  opacity: 1;
}

@media (min-width: 768px) {
  .field {
    width: 352px;
  }
}

.field::placeholder {
  padding-left: 10px;
}

.btnSend {
  border: none;
  border-radius: 8px;
  text-decoration: none;
  width: 287px;
  height: 49px;
  background-color: var(--accentColor);
  margin-top: 24px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--secondaryBgColor);
  cursor: pointer;
}

@media (min-width: 768px) {
  .btnSend {
    width: 352px;
    height: 49px;
  }
}

/* .btnSend:hover {
  background: #9dc888;
  position: relative;
  cursor: pointer;
}

.btnSend:active {
  background: #9dc888;
  box-shadow: none;
} */

.iconBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  right: 15px;
  /* background-color: inherit; */
  border: none;
  /* border-top-right-radius: 12px;
  border-bottom-right-radius: 12px; */
  cursor: pointer;
  margin-left: auto;
  background-color: transparent;
  padding: 15px;
  /* margin-top: 15px; */
}

.iconEye {
  margin-right: 15px;
  stroke-width: 1.3px;
  stroke: #fff;
}

.active {
  fill: #9dc888;
}

.errorMessage {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
  height: 10px;
  font-size: 12px;
  color: #9dc888;
  padding-left: 12px;
  font-size: 12px;
  font-weight: 400;
}