.authPageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 25%,
    #bedbb0 92.19%
  );
}

.authForm {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #151515;
  border-radius: 8px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerForm {
  margin: 0;
  padding: 0;
  min-width: 320px;
  @media (min-width: 375px) {
    width: 335px;
  }

  @media (min-width: 768px) {
    width: 424px;
  }
}
.loginForm {
  padding: 0;
  margin: 0;
  min-width: 335px;

  @media (min-width: 768px) {
    width: 424px;
    height: 228px;
  }
}

.authNav {
  margin: 0;
  padding: 0;
  @media (min-width: 768px) {
  }
}

.authLink1 {
  margin-left: 24px;
  @media (min-width: 768px) {
    margin-left: 40px;
  }
}

.authLink1,
.authLink2 {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0px;
  margin-top: 24px;
  @media (min-width: 768px) {
    margin-top: 40px;
  }
  margin-right: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);

  &:active {
    color: #fff;
  }

  &:hover {
    color: #fff;
  }
}

.linkActive {
  color: white;
}

Form {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 24px;
  width: 311px;

  @media (min-width: 768px) {
    width: 378px;
    height: 281px;
    margin-bottom: 10px;
  }
}
.fieldWrapper {
  position: relative;
  display: flex;
  border-radius: 8px;
  height: 49px;
  padding: 0;
  width: 285px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  background-color: rgba(31, 31, 31, 0.4);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 1);

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }

  @media (min-width: 768px) {
    width: 344px;
    height: 49px;
  }
}

.field {
  padding-left: 10px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  border: 1px solid rgba(190, 219, 176, 0.4);
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  background-color: rgba(31, 31, 31, 0.4);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 1);

  &:hover {
    border-color: rgba(190, 219, 176, 1);
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

.field::placeholder {
  opacity: 1;
}

.fieldWrapper:hover .field {
  border-color: (190, 219, 176, 1);
  background-color: rgba(31, 31, 31, 1);
  opacity: 1;
}

.fieldWrapper:hover .field::placeholder {
  opacity: 1;
}

#field_password {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.notError {
  height: 14px;
}

.button {
  border: none;
  border-radius: 8px;
  text-decoration: none;
  color: 161616;
  width: 287px;
  height: 49px;
  background: #bedbb0;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #161616;

  @media (min-width: 768px) {
    width: 344px;
    height: 49px;
  }

  &:hover {
    background: #9dc888;
    position: relative;
    cursor: pointer;
  }

  &:active {
    background: #9dc888;
    box-shadow: none;
  }
}

.iconBtn {
  right: 2px;
  background-color: rgba(31, 31, 31, 0.4);
  border-top: 1px solid rgba(190, 219, 176, 0.4);
  border-right: 1px solid rgba(190, 219, 176, 0.4);
  border-bottom: 1px solid rgba(190, 219, 176, 0.4);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
  margin-left: auto;
  padding-right: 18px;
}

.passwordWrapper:hover,
.passwordWrapper:hover .iconBtn,
.passwordWrapper:hover #field_password {
  opacity: 1;
  background-color: rgba(31, 31, 31, 1);
  border-color: rgba(190, 219, 176, 1);
}

svg {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  stroke-width: 1.3px;
  stroke: #fff;

  @media screen and (min-width: 768px) {
    margin-top: 6px;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.errorMessage {
  width: 100%;
  height: 16px;
  background-color: rgba(142, 139, 139, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  display: inline;
  color: var(--mainTextColor);
  float: left;
  font-weight: 100;
  font-size: 10px;
  line-height: 14px;
  position: absolute;
  bottom: -14px;
  right: 0;
  padding: 1px 8px 1px;
  animation: slideIn 0.3s ease forwards;
}

/* .errorMessage {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
  height: 10px;
  margin: 2px;
  font-size: 12px;
  color: #555655;
  padding-left: 12px;
  font-size: 12px;
  font-weight: 400;
} */

/* 

// * підключити зміну теми  
 */
